.main-footer {
  background: #F3F5F7;

  &__margin-content {
    padding: 4.8rem 0 5.2rem;
  }
}

.footer-headline {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.24;
}

.footer-nav {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  color: #252525;

  display: flex;
  flex-direction: column;
  max-height: 24rem;
  flex-wrap: wrap;

  li {
    margin-bottom: 1.2rem;
    max-width: 19.4rem;
    width: 100%;

    &:first-child {
      margin-right: 4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-item {
  &__margin-list {
    margin-top: 2.2rem;
  }

  &__margn-social {
    margin-top: 1rem;
  }
}

.break {
  display: block;
  flex-basis: 100%;
  width: 0;
}

.main-footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  align-items: center;

  li {
    margin-right: 1.2rem;
  }
}

.footer-socail-headline {
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  color: #000000;
  opacity: 0.46;
}

.footer-social-wrap {
  &__margin-content {
    margin-top: 2rem;
  }

}

.sub-footer {
  padding: 3.2rem 0;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.36);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}