.logo-link {
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #1F1F1F;
  position: relative;

  .point {
    position: absolute;
    right: -1.3rem;
    bottom: -.9rem;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    text-transform: lowercase;
    color: #B7B7B7;
  }
}

.header-wrap {
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: #3F3F3F;
  display: flex;
  align-items: center;

  li {
    margin-right: 4rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.find-input {
  width: 28.6rem;
  height: 4.2rem;
  background: #F4F6F9;
  border-radius: 4.2rem;
  padding-left: 4rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;

  &::placeholder {
    color: #BABABA;
  }
}

.wrap-input {
  position: relative;

}

.label-find {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

.find-form {
  display: flex;
  align-items: center;



  &__margin-bnt {
    margin-left: 1.2rem;
  }

  .autoComplete_highlighted {
    color: #1F1F1F;
    font-weight: 500;
  }

  #autoComplete_list {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.42);
    padding: .6rem 1.2rem .4rem;
    background: #FFFFFF;
    border: 1px solid #F4F6F9;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    min-width: 40rem;
    position: absolute;
    z-index: 2;
    top: 5.8rem;
    left: 0;


    a {
      padding: 1.2rem 1rem 1.2rem 3.4rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      display: inline-block;
      width: 100%;
      position: relative;

      transition: .2s color;

      &:hover {
        color: #402CC1;

        .autoComplete_highlighted{
          color:unset;
          font-weight: unset;
        }
      }

      &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        background: url(/assets/img/link.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.6rem;
        height: 1.6rem;
        transform: translate(0, -50%);
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.btn-find-wrap {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;


  button {
    height: 4.2rem;
    transition: .2s background;
    width: 14.2rem;
    text-align: center;
    background: #1F1F1F;
    border-radius: 4.2rem;

    &:hover {
      background: #08A652;
    }
  }
}



CSS input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.btn-mobile-wrap {
  position: relative;
  top: 2rem;
  display: none;
}

.mobile-menu-btn {
  width: 1.6rem;
  height: 1.2rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: .2rem;
    top: 0;
    left: 0;
    background: #000000;
    border-radius: .4rem;
    transition: transform .2s;

  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: .2rem;
    bottom: 0;
    left: 0;
    background: #000000;
    border-radius: .4rem;
    transition: transform .2s;
  }

  &--active {
    &:before {

      transform: rotate(45deg);
      top: 0;
      left: 0;

    }

    &:after {
      transform: rotate(135deg);
      top: 0;
      left: 0;

    }

    .mobile-menu-item {
      opacity: 0;
    }
  }
}


.header-main {
  position: relative;

  &--active {
    .header-nav-wrap {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 6.7rem;
      z-index: 99;
      background: white;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-top: .1rem solid rgba(0, 0, 0, 0.1);

    }

    .btn-mobile-wrap {
      top: 2.5rem;
    }

    .header-nav li {
      margin-right: 0;
      padding: 1.5rem 0;
      width: 100%;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        max-width: 68.8rem;
        width: 100%;
        height: .1rem;
        background: rgba(0, 0, 0, 0.1);
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
      }

      &:last-child {
        &:before {
          display: none;
        }
      }
    }

    .header-nav {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}


.mobile-menu-item {
  display: block;
  width: 100%;
  height: .2rem;
  background: #000000;
  border-radius: .4rem;

}