.wrapper {
  max-width: 96.4rem;
  width: 100%;
  margin: auto;
}

.root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

}

.headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 4.9rem;
  text-align: center;
  color: #000000;
}

.btn-item {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  border: none;
  border-radius: 4.6rem;
}

.btn-black-hover {
  transition: .2s background, .2s color, .2s border;

  &:hover {
    color: #FFFFFF;
    background: #1F1F1F;
    border: .1rem solid #1F1F1F;
  }
}