@media all and (max-width: 1024px) {
  .wrapper {
    max-width: 68.8rem;
  }

  .categories-wrap {
    padding-bottom: 17.2rem;
  }

  .footer-item.v3 {
    max-width: 39.3rem;
    width: 100%;
  }

  .footer-nav li {
    max-width: 30.4rem;
  }

  .banner-prev img {
    height: 46.2rem;
  }

  .banner-text {
    max-width: 43.7rem;

  }

  .fail-page {
    margin-top: 14.2rem;
    padding-bottom: 14.2rem;
  }

  .main-fail {
    font-size: 168px;
    line-height: 228px
  }

  .sub-text-fail {
    font-size: 24px;
    line-height: 29px;

  }

  .comments-headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .sub-text-not-found {
    font-size: 16px;
    line-height: 24px;
  }

  .banner-text h1,
  .banner-text h2,
  .banner-text h3,
  .banner-text h4,
  .banner-text h5,
  .banner-text h6 {
    font-size: 4.6rem;
    line-height: 6.2rem;
  }

  .banner-text p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
  }

  .main-banner {
    height: 46.2rem;
  }

  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.4rem, 2fr));
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .find-story-main__padding-content {
    padding-top: 8rem;
  }

  .headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .find-story-pic {
    width: 32.2rem;
  }

  .find-story-text {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .use-experience__padding-content {
    padding-top: 8rem;
  }

  .use-experience-wrap__margin-content {
    margin-top: 4.2rem;
  }

  .use-experience-description {
    display: block;
  }

  .experince-pic {
    width: 100%;
  }

  .experience-text-wrap {
    max-width: unset;
    margin-top: 3.2rem;
  }

  .experience-text-wrap__margin-btn {
    text-align: center;
  }

  .btm-more button {
    color: #1F1F1F;
    padding: 1.45rem 7.74rem;
  }

  .stories-with-meaning__margin-content {
    padding-top: 8rem;
  }

  .stories-with-meaning__margin-text {
    margin-top: 4.2rem;
  }

  .stories-description {
    flex-direction: column;
  }

  .stories-text-wrap {
    order: 1;
    max-width: unset;
  }

  .stories-pic {
    width: 100%;
  }

  .stories-text {
    max-width: unset;
  }

  .stories-text-wrap {
    margin-top: 3.2rem;
  }

  .stories-text-wrap__margin-btn {
    text-align: center;
  }

  .approach-video__margin-content {
    padding-top: 8rem;
  }

  .approach-video-wrap__margin-list {
    margin-top: 4.2rem;
  }

  .approach-text {
    max-width: unset;
  }

  .approach-pic {
    height: 19.4rem;
    flex-shrink: 0;
  }

  .approach-text-wrap {
    padding-top: 5.9rem;
  }

  .subtext-main__margin-content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .main-footer-wrap {
    position: relative;
  }

  .footer-item {
    &.v1 {
      order: 0;
    }

    &.v3 {
      order: 1;
    }

    &.v2 {
      position: absolute;
      left: 0;
      top: 21.3rem;

    }
  }

  .footer-nav {
    max-height: unset;
  }

  .sub-footer {
    padding: 2.6rem 0;
  }

  .header-nav-wrap {
    display: none;
  }

  .header-wrap {
    padding-left: 4.2rem;
  }

  .video-main-link {
    height: 46.2rem;
  }

  .about-headline {
    font-size: 3.6rem;
    line-height: 4.9rem;
  }

  .subtext-about {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 43.7rem;
  }

  .about-wrap__margin-list {
    margin-top: 4.2rem;
  }

  .about-info {
    flex-direction: column;
  }

  .about-prev {
    width: 100%;
  }

  .about-description {
    max-width: unset;
  }

  .about-info {
    &__margin-tablet {
      margin-top: 3.2rem;
    }
  }

  .about-prev.v2 {
    order: 0;
  }

  .about-item {
    margin-bottom: 8rem;
  }

  .about-item-headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .about-item__margin-item {
    margin-top: 4.2rem;
  }

  .quote-main__padding-content {
    padding-top: 8rem;
  }

  .subtext-main__about-page {
    max-width: 61rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .categories-pic {
    height: 46.2rem;
  }

  .categories-headline {
    font-size: 3.6rem;
    line-height: 4.9rem;
  }

  .categories-subtext {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 55.9rem;
    margin: auto;
  }

  .categories-wrap__margin-subtext {
    margin-top: .6rem;
  }

  .filter-action {
    max-width: unset;
  }

  .sorting-layout {
    &.tablet {
      display: none;
    }
  }

  .prev-btn {
    width: 3.84rem;
    height: 3.84rem;
  }

  .btn-svg {
    width: 1.9rem;
    height: 1.9rem;
  }

  .content-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.4rem, 2fr));
    column-gap: 2rem;
    row-gap: 4.2rem;

    .content-item {
      flex-direction: column;
    }

    .content-item-video {
      width: 33.4rem;
      height: 21.2rem;
    }



    .video-description {
      max-width: unset;
    }
  }

  .video-desc-headline {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .video-desc-text {
    display: none;
  }

  .video-description__margin-btn {
    margin-top: 2.4rem;
  }

  .video-more-btn .btn-item {
    padding: 1.05rem 3.1rem;
  }

  .result-headline {
    font-size: 2.4rem;
    line-height: 2.9rem;

  }

  .results-find__margin-subtext {
    margin-top: .6rem;
  }

  .result-list-main .content-item-video {
    width: 33.4rem;
  }

  .result-list-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33.4rem, 2fr));
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .result-list-main .video-description {
    max-width: unset;
  }

  .results-find__margin-list {
    margin-top: 4.2rem;
  }

  .about-video-headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .text-version h5,
  .text-version h4,
  .text-version h3,
  .text-version h2,
  .text-version h1 {
    margin-bottom: 1.6rem;
  }

  .text-version p {
    margin-bottom: 2rem;
  }

  .comments-wrap__margin-list {
    margin-top: 4.2rem;
  }

  .comments-pic {
    width: 5.6rem;
    height: 5.6rem;
  }

  .comments-description {
    max-width: 61.4rem;
  }

  .comments-item {
    margin-bottom: 3.2rem;
  }

  .label-pic {
    width: 5.6rem;
    height: 5.6rem;
  }

  .comments-inner {
    max-width: 61.4rem;
  }

  .interesting-headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .swiper-slide {
    width: 30.8rem !important;
  }

  .interesting-slider .swiper-slide {
    padding-bottom: 8rem;
  }

  .btn-mobile-wrap {
    display: block;
  }

  .video-main {}



}

@media all and (max-width:700px) {
  .find-input {
    width: 21.1rem;
  }

  .modal.fancybox-content {
    position: relative;
    overflow: visible;
  }

  .modal .fancybox-close-small {
    color: white;
    padding: 10px;
    right: -1.5rem;
    top: -5.2rem;
  }

  .footer-item.v3 {
    max-width: unset;
    width: unset;
  }

  .modal-feedback {
    max-width: 37.2rem;
  }

  .modal-wrap {
    padding: 3.2rem 2.4rem;
  }

  .modal-headline {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  .modal-subtext {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .modal-pic {
    height: 16.4rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .interesting__padding-content {
    padding-top: 8rem;
  }

  .sub-video-link {
    flex-direction: column;
  }

  .sub-video-link-item:last-child {
    margin-left: 0;
    margin-bottom: 0;
  }

  .video-main-wrap__margin-content {
    margin-top: 3.2rem;
  }

  .about-video-headline {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }

  .sub-video-link-item {
    margin-right: 0;
    margin-bottom: 1.2rem;
  }

  .btn-find-wrap button {
    width: 10rem;
  }

  .main-search {
    display: none;
  }



  .find-page-wrap {
    position: relative;
    border-top: none;

    &:before {
      position: absolute;
      content: '';
      top: 0rem;
      left: 2rem;
      right: 2rem;
      height: .1rem;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .result-list-main {
    display: flex;
    flex-direction: column;
    grid-template-columns: unset;
    column-gap: unset;
    row-gap: unset;
  }

  .find-page-wrap__margin-result {
    margin-top: 4.7rem;
  }

  .result-list-main .content-item-video {
    width: 100%;
  }

  .result-list-main .content-item {
    margin-bottom: 4.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .find-page-wrap {
    padding-bottom: 6rem;
  }

  .wrapper {
    max-width: unset;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-wrap {
    margin-bottom: 3.2rem;
  }

  .banner-prev img {
    height: 42rem;
  }

  .banner-text {
    max-width: 28.8rem
  }

  .banner-text h1,
  .banner-text h2,
  .banner-text h3,
  .banner-text h4,
  .banner-text h5,
  .banner-text h6 {
    font-size: 3.2rem;
    line-height: 4.3rem;
  }

  .banner-text p {
    margin-top: 1.2rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .main-banner__margin-btn {
    padding-top: 2.4rem;
  }

  .main-banner {
    height: 42rem;
  }

  .main-banner {
    padding-bottom: 4.2rem;
  }

  .services-list-main__margin-content {
    padding-top: 4.6rem;
  }

  .find-story-main__padding-content {
    padding-top: 6rem;
  }

  .find-story-pic {
    width: 30.8rem;
  }

  .find-story-list {
    grid-template: auto/repeat(auto-fill, minmax(32.1rem, 1fr));
  }

  .find-story-item {
    text-align: center;
  }

  .headline {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }

  .find-story-wrap__margin-content {
    margin-top: 3.2rem;
  }


  .find-story-item {
    &.mobile {
      display: none;
    }
  }

  .show-more-main {
    display: block;
  }

  .use-experience__padding-content {
    padding-top: 6rem;
  }

  .use-experience .headline {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }

  .use-experience-wrap__margin-content {
    margin-top: 3.2rem;
  }

  .experience-text-wrap {
    margin-top: 2.4rem;
  }

  .experience-text {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .experience-text-wrap__margin-btn {
    margin-top: 2.4rem;
  }

  .stories-with-meaning__margin-content {
    padding-top: 6rem;
  }

  .stories-with-meaning__margin-text {
    margin-top: 3.2rem;
  }

  .stories-text-wrap {
    margin-top: 2.4rem;
  }

  .stories-text {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .stories-text p {
    margin-bottom: 1.6rem;
  }

  .stories-text-wrap__margin-btn {
    margin-top: 2.4rem;
  }

  .approach-video__margin-content {
    padding-top: 6rem;
  }

  .approach-video-wrap__margin-list {
    margin-top: 3.2rem;
  }

  .approach-pic {
    max-width: 32rem;
    width: 100%;
    height: 22rem;
  }

  .approach-item {
    flex-direction: column;
    max-height: unset;
    max-width: 32rem;
    width: 100%;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .approach-list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: unset;
    row-gap: unset;
  }

  .approach-text-wrap {
    padding: 2.4rem 2rem;
  }


  .subtext-main__margin-content {
    padding: 6rem 2rem;
  }

  .subtext-main-wrap {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .footer-item.v2 {

    left: 2rem;
  }

  .main-footer__margin-content {
    padding: 4.2rem 2rem 3.6rem;
  }

  .sub-footer {
    padding: 1.8rem 2rem;
  }


  .video-main-page {
    .prev-btn {
      width: 5.12rem;
      height: 5.12rem;
    }

    .btn-svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .video-main-link {
    height: 29.6rem;
  }

  .video-main-wrap__margin-link {
    padding-bottom: 3.6rem;
  }

  .video-main-wrap__margin-text {
    margin-top: 3.2rem;
  }

  .comments__padding-content {
    padding-top: 6rem;
  }

  .comments-wrap__margin-list {
    margin-top: 3.2rem;
    padding-bottom: 3.6rem;
  }

  .comments-item {
    flex-direction: column;
  }

  .comments-pic {
    width: 4.2rem;
    height: 4.2rem;
  }

  .comments-description {
    max-width: unset;
    margin-top: 1.6rem;
  }

  .comments-wrap__margin-form {
    margin-top: 3.2rem;
  }

  .leave-pic {
    display: none;
  }

  .comments-inner {
    max-width: unset;
  }

}

@media all and (max-width:550px) {
  .header-wrap {
    flex-direction: column;
  }

  .categories-wrap {
    padding-bottom: 14.2rem;
  }

  .comments-headline {
    font-size: 2.4rem;
    line-height: 3.3rem;
  }

  .fail-page {
    margin-top: 10rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sub-text-fail {

    margin-top: 2.3rem;
  }

  .link-main-page {
    width: 100%;
    display: inline-block;
  }

  .link-wrap-main-page {
    text-align: center;
    margin-top: 3.1rem;
  }

  .main-fail {
    font-size: 124px;
    line-height: 168px;
  }

  .swiper-slide {
    width: 26.4rem !important;
  }

  .interestin-slider-item .content-item-video {
    width: 26.4rem;
  }

  .header-wrap__margin-mobile {
    margin-top: 2.4rem;
  }

  .header-wrap {
    height: 9.4rem;
  }

  .header-main--active .header-nav-wrap {
    top: 11.7rem;
  }

  .experince-pic,
  .stories-pic {
    height: 22rem;
  }

  .about-page {
    .prev-btn {
      width: 5.12rem;
      height: 5.12rem;
    }

    .btn-svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    .video-main-link {
      height: 29.6rem;
    }
  }

  .about-main__padding-content {
    padding-top: 4.6rem;
  }

  .about-headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .subtext-about {
    max-width: unset;
  }

  .about-prev {
    height: 22rem;
  }

  .about-info__margin-tablet {
    margin-top: 2.4rem;
  }

  .about-item {
    margin-bottom: 6rem;
  }

  .about-item__margin-item {
    margin-top: 3.2rem;
  }

  .about-description {
    line-height: 2.6rem;
  }

  .about-description p {
    margin-bottom: 1rem;
  }

  .quote-main__padding-content {
    padding-top: 6rem;
  }

  .quote-item {
    flex-direction: column;
    align-items: center;
  }

  .quote-pic {
    height: 22.6rem;
    width: 100%;
  }

  .quote-text {
    padding: 4rem 3.2rem;
  }

  .subtext-main__about-page {
    max-width: unset;
    padding: 6rem 2rem;
  }

  .categories-pic {
    height: 29.6rem;
  }

  .categories-wrap__margin-headline {
    margin-top: 4.6rem;
  }

  .categories-headline {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .filter-action-item {
    &.mobile {
      display: none;
    }
  }

  .list-filter {
    align-items: baseline;
  }

  .categories-wrap__margin-text {
    margin-top: 4.2rem;
    padding-top: 2.4rem;
  }

  .text-description {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }

  .sorting-layout.v2 {
    display: none;
  }

  .content-list .content-item-video {
    width: 100%;
  }

  .subcategory-wrap__margin-list {
    margin-top: 1.8rem;
  }

  .content-list {
    display: flex;
    flex-direction: column;
    column-gap: unset;
    row-gap: unset;
    grid-template-columns: unset;
  }

  .content-item {
    margin-bottom: 4.2rem;
  }

  .categories-wrap {
    padding-bottom: 14.2rem;
  }
}

@media all and (max-width:480px) {
  .main-footer-wrap {
    flex-direction: column;
  }

  .footer-nav li {
    max-width: unset;
  }

  .modal-feedback {
    max-width: 32rem;
  }

  .mfp-close {
    top: 2.5rem;
    right: 2.5rem;
  }

  .comments-send,
  .load-more-btn {
    width: 100%;
    text-align: center;
  }

  .sub-video-link-item {
    justify-content: center;
    width: 100%;
  }

  .footer-item.v2 {
    position: static;
    order: 1;
  }

  .footer-item.v3 {
    order: 2;
  }

  .footer-item {
    margin-bottom: 3.6rem;

    &:nth-of-type(1) {
      margin-bottom: 0;
    }
  }

  .header-wrap {
    padding-left: 0;
  }

  .services-list {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }


}


@media all and (max-width:350px) {
  .find-story-list {
    grid-template: auto/repeat(auto-fill, minmax(28rem, 1fr));
  }

  .mfp-close {
    top: 2.5rem;
    right: 1rem;
  }

  .find-story-pic {
    width: 100%;
  }

  .find-story-link {
    max-height: unset;
    width: 100%;
  }

  .services-list {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }

  .find-form__margin-bnt {
    margin-left: .5rem;
  }
}