.modal-feedback {
  max-width: 47.2rem;
  width: 100%;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.modal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  display: none;
  padding: 0;

  &.fancybox-content {
    position: static;
  }

  .fancybox-close-small {
    color: white;
    padding: 10px;
    right: 5.2rem;
    top: 5.2rem;
  }
}

.modal-pic {
  border-radius: 3px 3px 0px 0px;
  width: 100%;
  height: 19.2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal-wrap {
  padding: 3.2rem 3.6rem;

  &__margin-form {
    margin-top: 2.4rem;
  }
}

.modal-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;

  color: #1F1F1F;
}

.modal-subtext {
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #1F1F1F;
  opacity: 0.67;
}


.input-list {
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;
}

.input {
  padding: 1.6rem 2rem;
  width: 100%;
  border: none;
  outline: none;
  background: #F4F6F9;
  border-radius: 46px;

  &:focus {
    &+.label-item {
      font-size: 1.1rem;
      line-height: 1.3rem;
      transform: translateY(.8rem);
    }

    padding-bottom: .8rem;
    padding-top: 2.4rem;
  }

  &:active {
    &+.label-item {
      font-size: 1.1rem;
      line-height: 1.3rem;
      transform: translateY(.8rem);
    }

    padding-bottom: .8rem;
    padding-top: 2.4rem;
  }

  &:visited {
    &+.label-item {
      font-size: 1.1rem;
      line-height: 1.3rem;
      transform: translateY(.8rem);
    }

    padding-bottom: .8rem;
    padding-top: 2.4rem;
  }

}

.input-item {
  position: relative;
  margin-bottom: 1.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {

    .label-item {

      font-size: 1.1rem;
      line-height: 1.3rem;
      transform: translateY(.8rem);

    }

    .input {
      padding-bottom: .8rem;
      padding-top: 2.4rem;
    }
  }



}

.label-item {
  transition: 0.2s font-size, .2s transform;
  position: absolute;
  font-size: 1.5rem;
  line-height: 1.8rem;
  transform: translateY(1.6rem);
  user-select:none;
  pointer-events: none;
  left: 2rem;
  color: #BABABA;

  &.active {
    font-size: 1.1rem;
    line-height: 1.3rem;
    transform: translateY(.8rem);
  }
}

.btn-sbmt {
  background: #08A652;
  border-radius: 4.6rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 1.7rem 1rem;
  width: 100%;
  text-align: center;
  transition: .2s background;

  &:hover {
    background: #177744;
  }
}

.feedback-form {
  &__margin-btn {
    margin-top: 2rem;
  }
}

.mfp-close {
  line-height: 0;
  font-weight: 0;
  width: 1.8rem;
  height: 1.8rem;
  color: transparent;
  font-size: 0;
  top: 5.4rem;
  right: 5.4rem;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    background: white;
  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    background: white;
    transform: rotate(135deg);
    top: 0;
    left: 0;
  }
}

.mfp-content {
  position: static;
}