.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._arrow {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    &._btn {
    	font-size:(25/10)*1rem;
    	width:(25/25)*1em;
    }
    &._donation {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    &._grid {
    	font-size:(20/10)*1rem;
    	width:(20/20)*1em;
    }
    &._icon {
    	font-size:(32/10)*1rem;
    	width:(32/32)*1em;
    }
    &._like {
    	font-size:(16/10)*1rem;
    	width:(16/16)*1em;
    }
    &._list {
    	font-size:(20/10)*1rem;
    	width:(20/20)*1em;
    }
    &._play {
    	font-size:(32/10)*1rem;
    	width:(32/32)*1em;
    }
    &._search {
    	font-size:(18/10)*1rem;
    	width:(18/18)*1em;
    }
    &._serv1 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._serv2 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._serv3 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._serv4 {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
    &._slide {
    	font-size:(14/10)*1rem;
    	width:(14/14)*1em;
    }
    &._soc1 {
    	font-size:(32/10)*1rem;
    	width:(32/32)*1em;
    }
    &._soc2 {
    	font-size:(32/10)*1rem;
    	width:(32/32)*1em;
    }
    &._soc3 {
    	font-size:(32/10)*1rem;
    	width:(32/32)*1em;
    }
    &._soc4 {
    	font-size:(32/10)*1rem;
    	width:(32/32)*1em;
    }
    &._user {
    	font-size:(24/10)*1rem;
    	width:(24/24)*1em;
    }
}