.about-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2rem;
  line-height: 5.7rem;
  text-align: center;

  color: #1F1F1F;
}

.about-main {
  &__padding-content {
    padding-top: 5.6rem;
  }
}

.subtext-about {
  max-width: 46.4rem;
  width: 100%;
  margin: auto;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #1F1F1F;
  opacity: 0.6;
}

.about-item {
  margin-bottom: 6.4rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__margin-item {
    margin-top: 4.6rem;
  }
}

.about-prev {
  width: 47.2rem;
  height: 34rem;
  border-radius: .2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.v2 {
    order: 1;
  }
}

.about-wrap {
  &__padding-subtext {
    padding-top: .6rem;
  }

  &__margin-list {
    margin-top: 4.6rem;
  }
}

.about-description {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 43.4rem;
  width: 100%;

  strong {
    font-weight: 600;
  }

  p {
    margin-bottom: 2.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.quote-item {
  border: .1rem solid #EFEFEF;
  border-radius: .3rem;
}

.about-info {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.about-item-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 4.3rem;
  text-align: center;
  color: #000000;
}

.quote-item {
  display: flex;
  align-items: center;

}

.quote-main {
  &__padding-content {
    padding-top: 10rem;
  }
}

.quote-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  padding: 1rem 1rem 1rem 4.2rem;

  strong {
    display: inline-block;
    margin-top: 2.4rem;
    font-weight: 600;
    line-height: 1.9rem;
  }

}

.quote-pic {
  width: 22.4rem;
  height: 26.4rem;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.subtext-main {
  &__about-page {
    max-width: 69.8rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}


.about-page {
  .prev-btn {
    width: 6.88rem;
    height: 6.88rem;
  }

  .btn-svg {
    width: 3.4rem;
    height: 3.4rem;
  }
}