.categories-pic {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.categories-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.2rem;
  line-height: 5.7rem;
  text-align: center;

  color: #000000;
}



.categories-subtext {
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #1F1F1F;
  opacity: 0.6;
}

.filter-action {
  max-width: 67rem;
  width: 100%;
  margin: auto;
}

.list-filter {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: rgba(31, 31, 31, 0.46);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:baseline;

  li {
    display: block;
    margin-right: .8rem;
    margin-bottom: .8rem;
    padding: .8rem 0rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.filter-input {
  display: none;
}

.filter-label {
  background: rgba(31, 31, 31, 0.08);
  border-radius: 3.6rem;
  padding: .8rem 1.8rem;
  transition: .2s background;
}

.categories-wrap {
  padding-bottom: 10rem;

  &__margin-headline {
    margin-top: 5.6rem;
  }

  &__margin-subtext {
    margin-top: .6rem;
  }

  &__margin-filter {
    margin-top: 2.4rem;
  }

  &__margin-text {
    margin-top: 4.6rem;
    padding-top: 3.2rem;
  }

  &__subcategory-margin {
    margin-top: 4.2rem;
  }
}

.text-description {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sorting-layout {
  background: #F4F6F9;
  border-radius: 4.2rem;
  padding: 1.1rem 2.4rem;
  display: flex;
  width: fit-content;
  margin-right: 1.2rem;

  &:last-child {
    margin-right: 0;
  }

  &.v2 {
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: rgba(31, 31, 31, 0.42);
  }
}

.sorting-item {
  margin-right: 1.8rem;

  &.active {
    .sorting-svg {
      opacity: 1;
    }
  }

  &:hover {
    .sorting-svg {
      fill: #1F1F1F;
      opacity: 0.46;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.num-filter-item {
  transition: .2s color;
  &.active {
    color: #1F1F1F;


  }

  &:hover {

    color: rgba(31, 31, 31, 0.46);
  }
}

.list-filter-num {
  font-weight: 600;
  color: rgba(31, 31, 31, 0.24);

  button {
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 1.2rem;
    }
  }
}

.sorting-panel {
  display: flex;
  align-items: center
}

.content-item-video {
  width: 47.2rem;
  height: 34rem;
  position: relative;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}

.prev-btn {
  width: 5.12rem;
  height: 5.12rem;
  background: #FF2626;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subcategory-wrap {
  &__margin-list {
    margin-top: 3.2rem;
  }
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 3.2rem;

  &:last-child {
    margin-bottom: 0;
  }

  &__margin-desc {
    margin-top: 2.4rem;
  }
}

.video-description {
  max-width: 43.4rem;
  width: 100%;

  &__margin-subtext {
    margin-top: .8rem;
  }

  &__margin-text {
    margin-top: 2.4rem;
  }

  &__margin-btn {
    margin-top: 3.2rem;
  }

}

.video-desc-headline {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;
}

.video-user-info {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.42);
  display: flex;

  p {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.video-desc-text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;
}

.video-more-btn {
  padding: 1.5rem 0;

  .btn-item {
    padding: 1.5rem 3.2rem;
    border: none;
    border: .1rem solid #D1D1D1;
    border-radius: 4.6rem;
    transition: color .2s, background .2s;

    &:hover {
      color: white;
      background: #1F1F1F;
      border: .1rem solid #1F1F1F;
    }
  }
}

.pagination-wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -9rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination-list {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: rgba(31, 31, 31, 0.24);
  background: #F4F6F9;
  border-radius: 4.2rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 1.8rem;
  width: fit-content;

  li {
    margin-right: 1.6rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.pagination-item {
  transition: .2s color;
  &.active {
    color: #1F1F1F;
  }

  &:hover {

    color: rgba(31, 31, 31, 0.46);
  }
}

.next {
  .arrow-svg {
    transform: rotate(180deg);
  }
}

.next,
.prev {

  &.active {
    .arrow-svg {
      opacity: 1;
    }
  }
}


.content-list {
  position: relative;

  &.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30.8rem, 3fr));
    column-gap: 2rem;
    row-gap: 4.6rem;

    .content-item {
      flex-direction: column;

      &__margin-desc {
        margin-top: 2.4rem;
      }

      .content-item-video {
        width: 100%;
        height: 21.2rem;
      }
    }

    .btn-item {
      padding: 1.05rem 3.2rem;
    }

    .video-desc-text {
      display: none;
    }

    .video-desc-headline {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    .video-description__margin-btn {
      margin-top: 2.4rem;
    }

    .prev-btn {
      width: 3.8rem;
      height: 3.8rem;
    }

    .btn-svg {
      width: 1.9rem;
      height: 1.9rem;
    }

    .pagination-wrap {
      bottom: -6rem;
    }

  }
}


.show-more-filter {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  padding: .7rem 1.8rem;
  border: .1rem solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 3.6rem;
}

.filter-action-item {
  &:hover {
    .filter-label {
      background: rgba(31, 31, 31, 0.16);
    }
  }
}