.stories-people {
  &__margin-content {}
}

.main-banner {
  position: relative;
  height: 54.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4.6rem;

  &__margin-btn {
    padding-top: 3.4rem;
  }
}

.banner-prev {
  position: absolute;
  left: 0;
  top: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, rgba(14, 15, 15, 0) 26.04%, rgba(14, 15, 15, 0.42) 81.73%);
    border-radius: 2px;
  }

  img {
    width: 100%;
    height: 54.2rem;
    object-fit: cover;
  }
}

.banner-text {
  text-align: center;
  position: relative;
  z-index: 1;
  max-width: 46.4rem;
  width: 100%;
  color: #FFFFFF;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Prata', sans-serif;
    font-weight: normal;
    font-size: 5.2rem;
    line-height: 7rem;

  }

  p {
    margin-top: 1.2rem;
    font-size: 1.7rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: -0.01em;
  }
}

.services-list-main {
  &__margin-content {
    padding-top: 5.6rem;
  }
}

.services-list-prev {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1F1F1F;
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;


  &__margin-text {
    margin-top: 2rem;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 22.6rem;
  }
}

.find-story-main {
  &__padding-content {
    padding-top: 10rem;
  }
}

.find-story-link {
  display: inline-block;
  padding: .6rem .6rem 1.6rem;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 2px;
  max-height: 28.4rem;
  transition: box-shadow 0.2s;

  &:hover {
    .hide-text {
      opacity: 1;

    }

    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.06);

  }


}

.find-story-pic {
  width: 21.4rem;
  height: 20.4rem;
  object-fit: cover;
  position: relative;
  display: block;
  margin: auto;



  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hide-text {
    padding: 1rem;
    position: absolute;
    left: -.1rem;
    top: -.1rem;
    right: -.1rem;
    bottom: -.1rem;
    background: white;
    font-size: 1.5rem;
    line-height: 2.1rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.64);
    opacity: 0;
    transition: opacity 0.2s;


  }
}

.find-story-text {
  display: inline-block;
  padding: 1.5rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  width: 100%;
}

.find-story-wrap {
  &__margin-content {
    margin-top: 4.6rem;
  }
}

.hide-text {}

.play-btn {

  &__padding-btn {
    margin-top: 1rem;
  }
}

.find-story-list {
  column-gap: 2rem;
  row-gap: 2rem;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(22.6rem, 1fr));
}

.find-story-item {}

.use-experience {
  &__padding-content {
    padding-top: 10rem;
  }

  .headline {
    font-size: 3.2rem;
    line-height: 4.3rem;
  }

}

.experince-pic {
  width: 47.2rem;
  height: 34rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.experience-text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;

  p {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    font-weight: 600;
  }
}

.experience-text-wrap {
  max-width: 43.4rem;

  &__margin-btn {
    margin-top: 3.2rem;
  }
}

.use-experience-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.use-experience-wrap {
  &__margin-content {
    margin-top: 4.6rem;
  }
}

.btm-more {
  button {
    color: #1F1F1F;
    padding: 1.45rem 3.9rem;
    border: none;
    border: 1px solid #D1D1D1;
  }
}


.stories-with-meaning {
  &__margin-content {
    padding-top: 10rem;
  }

  &__margin-text {
    margin-top: 4.6rem;
  }
}

.stories-text-wrap {
  max-width: 43.4rem;
  width: 100%;

  &__margin-btn {
    margin-top: 3.2rem;
  }
}

.stories-text {
  max-width: 43.4rem;
  width: 100%;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;

  strong {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.8rem;
  }

  p {
    margin-bottom: 2.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.stories-pic {
  width: 47.2rem;
  height: 34rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.stories-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-btn {
  button {
    color: #FFFFFF;
    padding: 1.55rem 3.44rem;
    background: #08A652;
    transition: .2s background;

    &:hover {

      background: #177744;
    }
  }
}


.approach-video {
  &__margin-content {
    padding-top: 10rem;
  }
}

.approach-video-wrap {
  &__margin-list {
    margin-top: 4.6rem;
  }
}

.approach-item {
  background: white;
  border: .1rem solid #EFEFEF;
  border-radius: 2px;
  display: flex;
  max-height: 22.5rem;
}

.approach-pic {
  width: 19rem;
  height: 22.5rem;
  border-radius: .2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.approach-text {
  max-width: 21.8rem;
  width: 100%;
  color: #1F1F1F;

  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: -0.02em;
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 2.1rem;
    letter-spacing: -0.02em;
    opacity: 0.64;

  }
}

.approach-text-wrap {
  padding: 3.2rem 3.2rem .1rem;
}

.approach-list-wrap {
  column-gap: 2rem;
  row-gap: 2rem;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(47.2rem, 1fr));
}

.subtext-main-wrap {
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;

  width: 100%;
  margin: auto;

  strong {
    font-weight: 600;
  }
}

.subtext-main {
  &__margin-content {
    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 63.2rem;
  }
}

.show-more-main {
  width: 100%;
  color: #1F1F1F;
  border: 1px solid #D1D1D1;
  text-align: center;
  max-width: 32rem;
  margin: auto;
  padding: 1.5rem 0;
  margin-top: .4rem;
  display: none;
}

.hide {
  display: none !important;
}

.fail-page {
  margin-top: 8.6rem;
  padding-bottom: 12.4rem;
}

.main-fail {
  font-family: 'Prata';
  font-style: normal;
  font-weight: normal;
  font-size: 198px;
  line-height: 268px;
  align-items: center;
  text-align: center;
  color: #1F1F1F;
}

.sub-text-fail {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */
  text-align: center;

  color: #000000;
}

.sub-text-not-found {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #1F1F1F;
  margin-top: .8rem;
  opacity: 0.6;
}

.link-wrap-main-page {
  text-align: center;
  margin-top: 3.6rem;
}

.link-main-page {
  padding: 1.35rem 3.2rem;
  border: 1px solid #D1D1D1;
  text-align: center;

}

.show {
  display: block;
}