.main-search {

  .wrap-input {
    width: 100%;
  }

  .find-input {
    max-width: 81.1rem;
    width: 100%;
  }
}

.find-page-wrap {
  &__margin-content {
    margin-top: 3.6rem;
  }

  &__margin-result {
    margin-top: 4.2rem;
  }

  padding-top: .2rem;
  border-top: .1rem solid rgba(0, 0, 0, 0.1);;
  padding-bottom: 10rem;
}

.result-headline {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #000000;

  a {
    color: #402CC1;
  }
}

.find-subtext {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.01em;
  color: #1F1F1F;
  opacity: 0.6;
}


.results-find {
  &__margin-subtext {
    margin-top: .8rem;
  }

  &__margin-list {
    margin-top: 4.6rem;
  }
}

.result-list-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30.8rem, 3fr));
  column-gap: 2rem;
  row-gap: 4.6rem;

  .content-item-video {
    width: 30.8rem;
    height: 21.2rem;
  }

  .content-item {
    flex-direction: column;
    margin-bottom: 0;
  }

  .video-desc-headline {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .video-description {
    max-width: 30.8rem;
  }

  .video-more-btn .btn-item {
    padding: 1.1rem 3.2rem;
  }
}