.video-main-link {
  position: relative;
  height: 54.2rem;
  display: inline-block;
  border-radius: 2px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.video-main-wrap {
  &__margin-content {
    margin-top: 4.6rem;
  }

  &__margin-sub {
    margin-top: .6rem;
  }

  &__margin-link {
    margin-top: 2.4rem;
    padding-bottom: 4.6rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
  }

  &__margin-text {
    margin-top: 3.6rem;
  }

}

.about-video-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 43px;
  color: #1F1F1F;
}

.sub-info {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.01em;
  color: rgba(31, 31, 31, 0.46);

  span {
    margin-right: 3.2rem;
    position: relative;

    &:last-child {
      margin-right: 0;

      &:after {
        position: absolute;
        content: '';
        width: .2rem;
        height: .2rem;
        border-radius: 50%;
        overflow: hidden;
        top: 50%;
        transform: translate(0, -50%);
        background: rgba(31, 31, 31, 0.46);
        left: -1.6rem;
      }
    }
  }

}

.like-svg-wrap {
  margin-right: 1rem;
}

.video-like {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  /* identical to box height, or 100% */
  letter-spacing: -0.02em;
  color: #1F1F1F;
  padding: 1.5rem 3.2rem;
  border: none;
  border: .1rem solid #D1D1D1;
  border-radius: 4.6rem;
  display: flex;
  align-items: center;
  transition: .2s background, .2s color, .2s border;

  &:hover {
    background: #1F1F1F;
    color: #FFFFFF;

    border: .1rem solid #1F1F1F;

    .like-svg {
      fill: #FFFFFF;
    }
  }
}

.like-num {
  font-weight: 400;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    overflow: hidden;
    background: #1F1F1F;
    top: 50%;
    transform: translate(0, -50%);
    left: -1rem;
  }
}

.like-text {
  margin-right: 2rem;
}

.donation-svg-wrap {
  margin-right: 1rem;
}

.donation-link {
  width: fit-content;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  border: none;
  background: #08A652;
  border-radius: 4.6rem;
  padding: 1.5rem 3.2rem;
  transition: .2s background;

  &:hover {
    background: #177744;
  }
}

.card-list {
  display: flex;
  align-items: center;

  li {
    margin-right: 1.2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sub-video-link {
  display: flex;
  align-items: center;
}

.sub-video-link-item {
  margin-right: 1.2rem;

  &:last-child {
    margin-right: 0;
    margin-left: 1.2rem;
  }
}

.text-version {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
  color: #000000;

  a {
    color: #402CC1;
    text-decoration: underline;
    transition: .2s color;

    &:hover {
      color: #2A0CEC;
    }
  }

  h5,
  h4,
  h3,
  h2,
  h1 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 2.4rem;
  }

  p {
    margin-bottom: 3rem;

    &:first-child {
      margin-top: 2.4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.comments-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 4.3rem;
  text-align: center;
  color: #000000;
}

.comments {
  &__padding-content {
    padding-top: 8rem;
  }
}

.comments-wrap {
  &__margin-subtext {
    margin-top: .4rem;
  }

  &__margin-list {
    margin-top: 4.6rem;
    padding-bottom: 4.6rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
  }

  &__margin-form {
    margin-top: 4.2rem;
  }
}

.comments-num-wrap {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.01em;
  color: rgba(31, 31, 31, 0.46);
  text-align: center;
}

.comments-pic {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.comments-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3.6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.comments-description {
  max-width: 87.6rem;
  width: 100%;

  &__margin-btn {
    margin-top: 1.8rem;
  }

}

.comments-text-user {
  color: #1F1F1F;
  padding: 2.4rem;
  background: #F4F6F9;
  border-radius: 3px;

  h4 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-bottom: 1.2rem;

  }

  p {

    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;

  }
}

.comments-like {
  padding: 1rem 1.85rem;
  background: #08A652;
  border-radius: 4.6rem;
  display: flex;
  align-items: center;
  transition: .2s background;

  &:hover {
    background: #177744;
  }

  .like-svg {
    fill: white;
    margin-right: 1rem;
  }

  .comments-like-num {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.56);
  }
}

.comments-list {
  &__margin-btn {
    margin-top: 3.2rem;
  }
}

.load-more-comments {
  text-align: center;
}

.load-more-btn {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  padding: 1.55rem 6.7rem;
  border: none;
  background: inherit;
  border: .1rem solid #D1D1D1;
  border-radius: 4.6rem;

  transition: .2s background, .2s color, .2s border;

  &:hover{
    color: #FFFFFF;
    background: #1F1F1F;
    border:.1rem solid #1F1F1F;
  }
}

.label-pic {
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F1F1F;
  border-radius: 50%;
  overflow: hidden;
}

.pic-user {
  display: none;
}

.leave-comment-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comments-inner {
  max-width: 87.6rem;
  width: 100%;
}

.comments-field {
  width: 100%;
  border: none;
  background: #F4F6F9;
  border-radius: 3px;
  padding: 2.2rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  resize: none;

  &::placeholder {
    color: #9B9C9E;
  }
}

.comments-subtext {
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  color: #1F1F1F;
  opacity: 0.32;
  margin-top: 1.6rem;
}

.comments-send {
  padding: 1.5rem 3.2rem;
  color: #1F1F1F;
  border: 1px solid #D1D1D1;
  margin-top: 2.4rem;
}

.interesting-headline {
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #000000;
}

.interesting {
  &__padding-content {
    padding-top: 10rem;

  }
}

.interesting-slider {
  position: relative;

  .swiper-slide {
    padding-bottom: 10rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 3.2rem;
    height: 3.2rem;
    background: #1F1F1F;
    border-radius: 50%;
    overflow: hidden;
    top: -5.5rem;

    &:after {
      content: '';

    }
  }

  .swiper-button-next {
    right: 0;

    .slider-btn {
      transform: rotate(180deg);
    }
  }

  .swiper-button-prev {
    right: 4rem;
    left: auto;
  }
}

.interestin-slider-item {
  max-width: 30.8rem;
  width: 100%;

  .content-item {
    flex-direction: column;
  }

  .video-desc-headline {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .video-user-inf {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .content-item-video {
    width: 30.8rem;
    height: 21.2rem;
  }

  .video-description__margin-btn {
    margin-top: 2.4rem;
  }


  .prev-btn {
    width: 3.84rem;
    height: 3.84rem;
  }

  .btn-svg {
    width: 1.9rem;
    height: 1.9rem;
  }
}

.interesting-wrap {
  &__margin-slider {
    margin-top: 4.2rem;
  }
}

.video-main-page {
  .prev-btn {
    width: 6.88rem;
    height: 6.88rem;
  }

  .btn-svg {
    width: 3.4rem;
    height: 3.4rem;
  }
}