@import url('fonts/Fontello/css/fontello.css');

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Inter', 'fonts/Inter-Regular', 400);
@include font-face('Inter', 'fonts/Inter-Medium', 500);
@include font-face('Inter', 'fonts/Inter-SemiBold', 600);
@include font-face('Inter', 'fonts/Inter-ExtraBold', 800);
@include font-face('Prata', 'fonts/Prata-Regular', 400);


@include font-face('Playfair Display', 'fonts/PlayfairDisplay-Italic', 400);

