.search {
  width: 1.8rem;
  height: 1.8rem;
  fill: none;
  stroke: #1F1F1F;
  stroke-width: 1.2px;
}

.icon {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #fff;
  fill: none;
  stroke-width: 1.5px;
  opacity: 0.46;
}

.serv-main {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #fff;
  stroke-width: 1.6px;
  fill: none;
}

.play-svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: #1F1F1F;
  margin: auto;
}

.social {
  width: 3.2rem;
  height: 3.2rem;
  fill: #1F1F1F;
}

.sorting-svg {
  width: 2rem;
  height: 2rem;
  fill: #1F1F1F;
  opacity: 0.2;
  transition: .2s opacity;

}

.btn-svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
}

.arrow-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #000000;
  opacity: 0.24;
}

.like-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: #1F1F1F;
}

.donation-svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: white;
}

.user-svg{
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
}

.slider-btn{
  width: 1.4rem;
  height: 1.4rem;
  fill: none;
  stroke: white;
  stroke-width: 1px;

}